.answerContainer {
  font-size: clamp(18px, 4vw, 16px);
  color: "black";
  font-weight: 400;
  border: 1px solid "red";
  background-color: "green";
  border-radius: 16px;
  margin-top: clamp(13px, calc(10px + 6 * ((100vw - 600px) / 1320)), 16px);
  cursor: pointer;
  font-weight: 500;
}

.answerLabel {
  padding: 18px;
  display: flex;
  cursor: pointer;
}