.categoryBtnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 60%;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 45px;
    /* @media ${device.md} {
        row-gap: 20px;
        column-gap: 20px;
        max-width: 100%;
    } */
}

.categoryBtn {
  border-radius: 10px;
  padding: 14px 10px;
  display: flex;
  align-items: center;
  /* cursor: ${({ disabled }) => (disabled ? "not-allowed" : "pointer")};
  @media ${device.md} {
    padding: 10px;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
  } */
}

.categoryBtnText {
    font-size: 13px;
    font-weight: 600;
    margin-left: 10px;
  /* @media ${device.md} {
    font-size: 16px;
    font-weight: 500;
  } */
}