.body {
  height: 90vh;
}

.appTitle {
  font-weight: 700;
  font-size: 32px;
}

.detailTextContainer {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center;
  max-width: 500px;
}

.detailText {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;
  line-height: 1.3;
}