.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 90vh;
}

.question-container {
  margin-bottom: 20px;
}

.question-text {
  font-size: 18px;
  margin-bottom: 10px;
}

.answer-options {
  list-style: none;
  padding: 0;
  margin: 0;
}

.answer-options li {
  margin-bottom: 10px;
}

button {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 100%;
  text-align: left;
}

button:hover {
  background-color: #f0f0f0;
}

button.selected {
  background-color: rgb(3, 136, 237);
  color: #fff;
}

.score-container {
  margin-top: 20px;
  font-size: 18px;
}